body{
    color: #40514E;
    font-family: 'Merriweather', serif; 
    margin: 0;
    text-align: center;
    font-size: 105%; /*16.8px or 1.05em*/
}
h1 {
    color: #66BFBF;
    line-height: 1;
   /* padding: 0;*/
    font-family: 'Sacramento',"Brush Script MT", cursive;
    font-size: 5.625rem; /*90px*/
    margin-top: 40px;
    margin-bottom: 0;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; /*40px*/
    font-weight: normal;
}
h3 {
    color: #66BFBF;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover{
    color: whitesmoke;
}
hr {
    width: 3%;
    border: none;
    border-top: 6px dotted;
    border-color: #EAF6F6;
    margin: 50px auto;
}
.top-container{
    background-color: #EAF6F6;/*#bbf1c8;*/
    padding-top: 100px;
    position: relative;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 35px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.intro {
    width: 25%;
    margin: 0 auto;
    line-height: 1.5;
}
.pro {
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: bolder;
}
.middle-container{
    margin: 80px 0;
    
}
.skill-row {
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}
.skill-image1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-image2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.profile > img{
    height: 200px;
    border-radius: 100%;
}
.contact-me {
    width: 40%;
    margin: 0 auto;
}
.contact-message{
    margin: 30px auto 50px;
    width: 75%; /*a percentage of its parent contact-me*/
    line-height: 1.5;
}
.btn {
    color: white;
    text-transform: uppercase;
    background-color: #11999E;
    /*line-height: 5;*/
    padding: 10px;
    border: solid;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(5, 15, 15);
}
.bottom-container{
    background-color: #66BFBF;
    padding: 35px;
}
.bottom-container > a {
    margin-right: 35px;
    font-weight: bold;
}
.copyright{
    color: #EAF6F6;
    margin-top: 30px;
    font-size: 0.75rem;
    /*line-height: 2;*/
}